.header{
    // border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    
  }
  .profil {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 10px;
    width: 50%;
    //  border: 1px solid black; 
    margin-right: 230px;
    cursor: pointer;
    padding: 10px;
    }
    .logo {
      display: flex;
      width: 50%;
      /* border: 1px solid black; */
      margin-left: 150px;
      padding: 10px;
      // border: 1px solid black;
    }
   .profil a{
    color:$black;
    text-decoration: none;
  }
   .profil a:hover{
    text-decoration: underline;
  }
  @media(max-width: 700px){
    .header{
        flex-direction: column;
        justify-content: center;  
         gap: 20px;
         }
        .profil{
          justify-content: center;
          width: 100%;
          margin: 0px;
          margin-bottom: 20px;;
        }
        .logo {
          width: 100%;
          margin: 0px;
          justify-content: center;
        }

}
