@import"variabiles";

.nav_bar{
  background-color: $color;
}

#nav{
    margin: 0px;
     /* padding: 0px; */
     list-style: none;
     background-color:$color;  
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
    
    
  
   }

   #nav li {
     display: inline-block;
     position: relative;
     line-height: 21px;
     /* margin-left:80px; */
     
   }
   #nav li a {
     display: block;
     padding: 8px 20px;
     /* margin-left:30px; */
     color: $colorw;
     text-decoration: none;
    //  text-align: center;
     white-space: nowrap;
     
   }
   #nav li a:hover {
     background-color: $gray;
   }
   #nav li ul.dropdown {
     min-width: 100%; /*Set width of the dropdown*/
     background-color:$color;
     display:none;
     position: absolute;
     z-index: 5;
     left: 0px;
     padding: 0px;
   }
   #nav li:hover ul.dropdown {
     display: block; /* Display the dropdown */
   }
   #nav li ul.dropdown li {
     display: block;
   }
     .hamburger{
     display: none;
   }
   @media(max-width: 700px){
    .nav_bar{
      // border: 1px solid red;
      display: inline-block;
      width: 100%;
    

    }
    #nav {
      display: none;
      position: relative;
      animation: myNav 1s linear;
    
    }
    @keyframes myNav {
        from {
          left:-200px;
        }
        to {
         left: 0px;
        }
      }
    .hamburger {
      position: relative;
      top: 0;;
      display: block;
      padding: 5px;
      float: right;
      // background-color:$color;
      cursor: pointer;
      
    }
   } 