.vinuri{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    padding: 0px;
  }
  .li-vinuri{
    background-color: $colorw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border;
    box-shadow: 2px 2px 2px 2px $gray;
    border-radius: 20px;
    width: 20%;
    text-align: center;
    gap: 10px;
    padding: 20px;
    list-style: none;
  }
  .a-details{
    padding: 10px;
    width: 100%;
    background-color:$color;
    border-radius: 20px;
    color:$colorw;
    cursor: pointer;
    border: none;

  }
  #add-to-cart{
    background-color: $color;
    color: $colorw;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
  }
  
  .p-price{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    color:$black;
    // cursor: pointer;
  
    border: none;
  }
  
@media (max-width:700px) {
    .li-vinuri{
        width: 100%;
    }
}