<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./cart.page.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
  <script src="./navBar.js" defer></script>
</head>
<body>

    <header>
      <div class="header ">
        <div class="logo">
          <a href="./home.html">
            <img width="200px"
              src="./img/ethicLogo.png"
              alt="logo-img"
            />
          </a>
        </div>
        <div class="profil">
          <a href="./index.html">Login</a>
          <a href="./contact.html">Contact </a>
          <a href="./intro.html">Register</a>
          <form action="./cart.page.html">
            <div class="cart">
             
              <button type="submit" class="cart1">
                <img
                  width="15px"
                  src="https://img.icons8.com/ios/2x/shopping-cart.png"
                />
              </button>
            </div>
            </form>
        </div>
      </div>
      <nav>
        <div class="nav_bar ">
            <img class="hamburger " onclick="myF()"
            width="30px"
            src="https://www.clipartmax.com/png/full/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png"
         />
           
         <ul id="nav" >
            <li>
                <a href="#">Categorii ▾</a>
                <ul class="dropdown">
                  <li><a href="./white-wine.html">Vinuri Albe</a></li>
                  <li><a href="./red-wines.html">Vinuri Rosii</a></li>
                 <li><a href="./wine-rose.html">Vinuri Rose</a></li>
                 <li><a href="./wine-champagne.html">Champagne</a></li>
                 </ul>
            </li>
            <li>
             <a href="#">Regiuni ▾</a>
            <ul class="dropdown">
              <li><a href="./romania-page.html">Romania</a></li>
              <li><a href="./franta.html">Franta</a></li>
              <li><a href="./italia.html">Italia</a></li>
            </ul>
        
            <li><a href="./about.html">Despre Noi</a></li>
            <li><a href="./livrare.html">Livrare</a></li>
            
            </li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./toate.produsele.html">Toate Produsele</a></li>
            
        </ul>
       
    </div>
</nav>
                    
    </header>
      
    <main>
   
      <section>
       
      </section>
      <div class="space">
        <div class="parrent">
            <div class="first_line">
              <div>
                <p>Produse</p>
              </div>
              <div>
                <p>Cantitate</p>
              </div>
              <div>
                <p>Pret</p>
              </div>
            </div>
      
            <div class="products">
              <div class="prod">
                <img src="./img/intro.jpg" alt="logo" width="50px" />
              </div>
              <div class="number">
                <input type="number" value="1" />
              </div>
              <div class="price">700$</div>
            </div>
            <div class="total">
              Total
              <div class="totalPrice">700$</div>
            </div>
            <form action="./home.html">
              <div class="shopp">
                <div class="contactDetalis">
                  <h1>Contact</h1>
                  <div id="name">
                  <div class="name">
                  <label for="field_first_name>">Nume*</label>
                  <input
                    id="field_first_name"
                    type="text"
                    name="First_name"
                    required
                    placeholder="Introduceti Nume"
                    minlength="2"
                    maxlength="10"
                    size="15"
                  />
                </div>
               
                <div class="lastName">
                  <label for="field_last_name>">
                    Prenume*</label>
                  <input
                    id="field_first_name"
                    type="text"
                    name="First_name"
                    required
                    placeholder="Introduceti Prenume"
                    minlength="2"
                    maxlength="10"
                    size="15"
                  />
                </div>
              </div>
               
                  <label for="phone">Telefon*</label>
                  <input
                    type="tel"
                    id="phone"
                    name="phone"
                    placeholder="Numar Telefon"
                    required
                  />
        
                  <label for="adr"> Adresa*</label>
                  <input type="text" id="adr" name="address" placeholder="Adresa" />
        
        
                  <label for="country"> Oras </label>
                  <select>
                    <option value="">Select Country</option>
                    <option value="Bucuresti">Bucuresti</option>
                    <option value="Iasi ">Iasi</option>
                    <option value="Timisoara">Timisoara</option>
                    <option value="Cluj">Cluj</option>
                  </select>
                </div>
                <div class="metod_pay">
                    <h1>Metode de livrare</h1>
                    <p>Ridicare din Showroom</p>
                    <label>
                        <input type="checkbox"  name="sameadr" /> str. Banul Antonache nr 55
                      </label>
                      <p>Doresc sa platesc:</p>
                      <label>
                        <input type="checkbox"  name="sameadr" /> Plata ramburs la livrare
                      </label>
                      <label>
                        <input type="checkbox"  name="sameadr" /> Ordin de Plata
                      </label>
                      <label>
                        <input type="checkbox"  name="sameadr" /> Plata online cu cardul 
                      </label>
                      <p>Coduri Discount</p>
                      <input type="text" placeholder="Introduceti codul cuponului, daca aveti unul.
                      " >
                </div>
        
                <div class="payment">
                  <h1>Payment</h1>
                  <div class="card_accept">
                  <p>Plata online cu cardul:
                    <i class="fa fa-cc-visa" style="color: navy;"></i>
                    <i class="fa fa-cc-amex" style="color: blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color: red;"></i>
                    <i class="fa fa-cc-discover" style="color: orange;"></i>
                  </p>
   
                </div>
        
                  <label for="cname">Nume si Prenume:</label>
                  <input type="text" id="cname" name="cardname" placeholder="Nume si Prenume" />
                  <label for="ccnum">Numar Card:</label>
                  <input
                    type="text"
                    id="card_number"
                    name="cardnumber"
                    placeholder="1111-2222-3333-4444"
                  />
                  <div class="exp_card">
                  <label for="expmonth">Luna:</label>
                  <input
                    type="text"
                    id="expmonth"
                    name="expmonth"
                    placeholder="septembrie"
                  />
                  <label for="expyear">Anul:</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
            </div>
                </div>
              
              </div>
              <div class="submit">
                <button type="submit" formaction="./home.html"onclick="myFunction()">
                  Plasare Comanda
                </button>
                <button type="reset" value="Reset">Reset</button>
              </div>
            </form>
          </div>
          </div>
  </div>
 
    </main>
    
    <footer >
      <div class="footer space">
        <ul class="list">
            Orar
            <li>Luni: 13 – 22</li>
            <li>Marti – Vineri: 11 – 22</li>
            <li>Sambata: 11 – 22</li>
            <li>Duminica: ÎNCHIS</li>
          </ul>   
      
        <ul class="list">
            Contact
            <li>BANU ANTONACHE 55, Piata Floreasca, Bucuresti</li>
            <li>Email: office@ethicwine.ro</li>
            <li>Fix: 021 367 2283</li>
          </ul>
           
          <ul class="list">
            <li><a href="./livrare.html">
              Livrare</a></li>
            <li>Termeni si conditii</li>
            <li>Anpc</li>
            <li>Cum cumpar?</li>
          </ul>
      </div>
      <hr/ color="gray">
      <div class="icon_footer">
          <a href="https://www.facebook.com/ethicwine.ro/" target="_blank">

        <img
        width="20px" src="./img/Facebook_icon_2013.svg.png"> 
          </a>
      </div>
      <div class="icon_footer">
          <a href="https://www.instagram.com/ethic_wine/" target="_blank">
            <img width="20px" src="./img/Instagram_logo_2016.svg.png">
        </a>
      </div>
      </footer>
      <script>
        function myFunction() {
       alert("Multumim pentru comanda ! O zi buna !");
     }
     </script>
     
</body>
</html>
