@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.nav_bar {
  background-color: #571e1a;
  width: 100%;
}

#nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #571e1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  display: block;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

#nav li a:hover {
  background-color: gray;
}

#nav li ul.dropdown {
  min-width: 100%;
  /*Set width of the dropdown*/
  background-color: #571e1a;
  display: none;
  position: absolute;
  z-index: 5;
  left: 0px;
  padding: 0px;
}

#nav li:hover ul.dropdown {
  display: block;
  /* Display the dropdown */
}

#nav li ul.dropdown li {
  display: block;
}

.hamburger {
  display: none;
}

@media (max-width: 700px) {
  .nav_bar {
    display: inline-block;
    width: 100%;
  }
  #nav {
    display: none;
    position: relative;
    -webkit-animation: myNav 1s linear;
            animation: myNav 1s linear;
    gap: 20px;
  }
  @-webkit-keyframes myNav {
    from {
      left: -200px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes myNav {
    from {
      left: -200px;
    }
    to {
      left: 0px;
    }
  }
  .hamburger {
    position: relative;
    top: 0;
    display: block;
    padding: 5px;
    float: right;
    cursor: pointer;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
}

.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 50%;
  margin-right: 230px;
  cursor: pointer;
  padding: 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  /* border: 1px solid black; */
  margin-left: 150px;
  padding: 10px;
}

.profil a {
  color: black;
  text-decoration: none;
}

.profil a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .profil {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }
  .logo {
    width: 100%;
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background-color: #571e1a;
  color: white;
  grid-area: footer;
  text-align: center;
  font-weight: bold;
  margin-top: 200px;
  /* margin:50px; */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.icon_footer {
  display: inline-block;
  padding: 10px;
}

footer a:hover {
  text-decoration: underline;
}

.icon_footer {
  display: inline-block;
  padding: 10px;
}

@media (max-width: 700px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    /* margin-bottom:20px; */
  }
  .list {
    text-align: center;
    padding: 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Alata', sans-serif;
}

.space {
  margin-left: 130px;
  margin-right: 170px;
}

@media (max-width: 700px) {
  .space {
    margin: 0px;
  }
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

p, li, a, button {
  font-size: 15px;
}

h1 {
  text-align: center;
}

.list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.adresa {
  width: 50%;
  -webkit-animation: adress 1s linear;
          animation: adress 1s linear;
  position: relative;
}

@-webkit-keyframes adress {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}

@keyframes adress {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}

.orar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
  -webkit-animation: orar 1s linear;
          animation: orar 1s linear;
  position: relative;
}

@-webkit-keyframes orar {
  from {
    right: -200px;
  }
  to {
    right: 0px;
  }
}

@keyframes orar {
  from {
    right: -200px;
  }
  to {
    right: 0px;
  }
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-animation: form-contact 1s linear;
          animation: form-contact 1s linear;
  position: relative;
}

@-webkit-keyframes form-contact {
  from {
    bottom: -200px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes form-contact {
  from {
    bottom: -200px;
  }
  to {
    bottom: 0px;
  }
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

label {
  width: 50%;
}

input {
  width: 50%;
}

.button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

input[type="submit"] {
  background-color: #571e1a;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
}

input[type="reset"] {
  background-color: #571e1a;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
}

@media (max-width: 700px) {
  .list1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adresa {
    width: 100%;
  }
  .orar {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .name {
    width: 100%;
  }
  .email {
    width: 100%;
  }
  .subiect {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  input[type="submit"] {
    width: 100%;
  }
  input[type="reset"] {
    width: 100%;
  }
}
/*# sourceMappingURL=contact.css.map */