@import "variabiles";
@import "navbar";
@import "header";
@import "footer";
@import "body";
@import "space";
@import "_typography";


  
  .hero{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    color:$colorw;
    
    background-image:url("https://vinimondo.ro/sites/default/files/reca.jpg"); 
    background-repeat: no-repeat;
    background-size:     cover;  
    background-position: center;
    text-align: center;
    padding: 50px;
    
  }  
  // .vinuri{
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content:flex-start;
  //   width: 100%;
  //   // border: 1px solid gainsboro;
  //   padding: 0px;
  
  //   background-color: gainsboro;
  // }
  // .li-vinuri{
  //   background-color: white;
  //   margin: 20px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: center;
  //   border: 1px solid gainsboro;
  //   box-shadow: 2px 2px 2px 2px grey;
  //   border-radius: 20px;
  //   // width: 20%;
  //   text-align: center;
  //   gap: 10px;
  //   padding: 20px;
  //   list-style: none;
  //   min-width: 250px !important;
  //   margin: 0 10px;
  //   box-sizing: border-box;
  // }
  
  
  .p-price{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    color: black;
    // cursor: pointer;
    border: none;
  }
  .a-details{
    padding: 10px;
    width: 100%;
    background-color:$color;
    border-radius: 20px;
    color:$colorw;
    cursor: pointer;
    border: none;

  }
  main{
    display: flex;
    flex-direction:column;
    justify-items: flex-start;
    // border: 1px solid red ;
  }
  

  .brand-container{
    margin-top: 40px;;
    width: 100%;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    padding: 10px;
    // border: 1px solid red;
    gap: 20px;
    
    .article {
      display: flex;
      flex-direction: column;
      gap: 10px;
      a{
        position: relative;
        color: black;
        border: 3px solid $color;
        padding: 10px;
        animation: mymovel 3s linear;
        width: 30%;
        text-align: center;
        // margin-top: 100px;
      }
    }
    p {
      position: relative;
      padding: 10px;
      animation: mymovel 3s linear;
      width: 100%;
    }
    h3{
      position: relative;
      animation:mymovel 3s linear;
      
      padding: 10px;
    }
    img {
      width: 100%;
      animation: mymove 3s   linear;
      
      
      position: relative;
    }
    
    @keyframes mymove {
      from {
        left: -300px;
      }
      to {
        left: 0px;
      }
    }

    @keyframes mymovel {
      from {
        right: -300px;
      }
      to {
        right: 0px;
      }
    }

  }
  .article {
    width: 50%;
  }
  h1{
    text-align: center;
  }
  
     
  li {
    list-style-type: none;

  }
  a{
    text-decoration: none;
    color: $colorw;
  }
  @media(max-width: 700px){
    
    .brand-container{
      flex-direction: column;
      width: 100%;
    }
    .article{
      // padding: 0px;;
      width: 100% ;
      p{
        padding: 0px;
      }
      
    }
    
    .list {
      text-align: center;
      padding: 10px;
    }
    
    
  }