@import "variabiles";
@import "navbar";
@import "header";
@import "footer";
@import "body";
@import "space";
@import "_typography";

  main{
      text-align:center;
      // border: 1px solid red;
     
    .img-map{
        
        // border: 1px solid red;
        animation: img 2s linear;
        position: relative;
    }
    @keyframes img {
      from {
        left: -300px;
      }
      to {
        left: 0px;
      }
    }
    .main_livrare{
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    
    
    .livrareBuc{
    border: 1px solid $border;
    // padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    padding: 10px;;
    box-shadow: 3px 3px 3px 3px $gray;
    
    animation: deliver 2s linear;
    position: relative;
    }
    @keyframes deliver {
      from {
        right: -300px;
      }
      to {
        right: 0px;
      }
    }
    .livrareRapid{
        // border: 1px solid  red;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 40px;
    box-shadow: 3px 3px 3px 3px $gray;
    animation: deliverQuick 2s linear;
    position: relative;
    }
  }
  @keyframes deliverQuick {
    from {
      bottom: -300px;
    }
    to {
      bottom: 0px;
    }
  }
  h1{
    text-align: center;
    animation: h1 2s linear;
    // border: 1px solid red;
    position: relative;
  }
  
  @keyframes h1 {
    from {
      top: -300px;
    }
    to {
      top: 0px;
    }
  }
     
  li {
    list-style-type: none;

  }
  a{
    text-decoration: none;
    color: $colorw;
  }
  @media(max-width: 700px){
     ul{
         padding: 0px;
     }
    
    .list {
      text-align: center;
      padding: 10px;
    } 
  }