
 @import "variabiles";
 @import "navbar";
 @import "header";
 @import "footer";
 @import "body";
 @import "space";
 @import "_typography";
 


   .container{
    display: flex;
    flex-direction: row;
    width: 100%;
   }
   #add-to-cart{
     width: 30%;
     padding: 10px;
     border: none;
     text-align: center;
     cursor: pointer;
     background-color: $color;
     color: $colorw;
   }
 .product-details{
   display: flex;
   flex-direction: column;
   width: 50%;
   gap: 20px;
   align-items: center;
   

   h1{
    text-align: center;
    padding: 0px;
  }
  div{
    border-bottom : 1px solid $border; 
    width: 100%;
    /* padding: 10px; */
    padding-bottom: 10px; 
  }
 }


 
   h1{
     text-align: center;
   }
 
 
   
   @media(max-width: 700px){
      ul{
          padding: 0px;
      }
      .container{
          flex-direction: column;
          img{
            width: 100%;
          }
          .product-details{
            width: 100%;
          }
          
      }
    //  footer
     .list {
       text-align: center;
       padding: 10px;
     }
   }