body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disabledBtn {
  background-color: grey !important;
}

.invalid-input {
  border: 2px solid red !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px;
  /* border:1px solid red; */
  width: 80%;
  -webkit-box-shadow: 2px 2px gray;
          box-shadow: 2px 2px gray;
}

.container .image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 25, 26, 0.8)), to(rgba(55, 51, 51, 0.8))), url("./img/intro.jpg");
  background: linear-gradient(rgba(26, 25, 26, 0.8), rgba(55, 51, 51, 0.8)), url("./img/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.container .register {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #ccc6c6;
}

.container .register .formular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}

.container .register .formular .input-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.container .register input {
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc6c6;
  padding-left: 20px;
  height: 40px;
  width: 50%;
}

.container .register label {
  margin-bottom: 10px;
  font-size: 16px;
  width: 50%;
}

.container .register select {
  height: 45px;
  border-radius: 5px;
  border: none;
  width: 60%;
  margin-bottom: 10px;
}

.container .register .field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .register button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #571e1a;
  color: white;
}

.container .register a {
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 15px;
}

.container .register a:hover {
  text-decoration: underline;
}

.container .register img {
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* border: 3px solid blac; */
  }
  .container .image {
    width: 100%;
    height: 500px;
    /* border: 2px solid black; */
  }
  .container .register {
    width: 100%;
    margin: 0px;
    /* border: 1px solid red; */
    padding: 0px;
    text-align: center;
  }
  .container .register img {
    width: 70%;
    height: auto;
  }
  .container .register .formular {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 0px;
    /* justify-content: center; */
    /* justify-items: center; */
  }
  .container .register .formular .input1 {
    /* border: 1px solid black; */
    width: 100%;
    /* margin:10px; */
    /* justify-content: center; */
  }
  .container .register .formular .input2 {
    width: 100%;
    /* border: 1px solid red; */
    padding: 0px;
  }
  .container .register input {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container .register select {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container .register select option {
    border: none;
  }
  .container .register a {
    margin-bottom: 10px;
  }
  .container .register a:hover {
    text-decoration: underline;
  }
  .container .register label {
    margin-bottom: 5px;
  }
}

body {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parrent {
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px;
  height: 500px;
  -webkit-box-shadow: 2px 2px gray;
          box-shadow: 2px 2px gray;
  /* width: 800px; */
  width: 50%;
}

.parrent .imgleft {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 25, 26, 0.8)), to(rgba(55, 51, 51, 0.8))), url("./img/intro.jpg ");
  background: linear-gradient(rgba(26, 25, 26, 0.8), rgba(55, 51, 51, 0.8)), url("./img/intro.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.parrent .right {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* border: 1px solid red; */
  background-color: #ccc6c6;
  text-align: center;
}

.parrent .right img {
  width: 70%;
  height: auto;
}

.parrent .right .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin: 10px; */
  gap: 10px;
  /* padding-left:30px; */
  width: 100%;
}

.parrent .right .forms input {
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
  height: 40px;
  width: 70%;
}

.parrent .right .forms label {
  font-size: 16px;
  /* border: 1px solid black; */
  width: 30%;
}

.parrent .right .forms .field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.parrent .right .forms button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #571e1a;
  color: white;
}

.parrent .right .forms img {
  margin-top: 10px;
}

section {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 15px;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .parrent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
  }
  .parrent .imgleft {
    /* flex-direction: column; */
    height: 500px;
    width: 100%;
  }
  .parrent .right {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .parrent .right .forms {
    margin: 0px;
    width: 350px;
    padding: 0px;
  }
  .parrent .right .forms input {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .parrent .right .forms button {
    width: 50%;
  }
  .parrent .right .forms a {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.intro.css.map */