@import "variabiles";


*{
    box-sizing: border-box;
  }
  body{
    margin: 0px;
    /* background-color: rgb(211, 203, 203); */
  }
  .space{
    margin-left: 130px;
    margin-right:130px;
  }
  .header{
    // border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    
  }
  .profil {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 10px;
    width: 50%;
    //  border: 1px solid black; 
    margin-right: 230px;
    cursor: pointer;
    padding: 10px;
    }
    .logo {
      display: flex;
      width: 50%;
      /* border: 1px solid black; */
      margin-left: 150px;
      padding: 10px;
      // border: 1px solid black;
    }
 
   .profil a{
    color: black;
    text-decoration: none;
  }
   .profil a:hover{
    text-decoration: underline;
  }
  
  #nav{
    margin: 0px;
     /* padding: 0px; */
     list-style: none;
     background-color:$color;  
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     // border:1px solid $colorw;
 
     /* gap: 100px; */
    
    
   }
   #nav li {
     display: inline-block;
     position: relative;
     line-height: 21px;
     /* margin-left:80px; */
     
   }
   #nav li a {
     display: block;
     padding: 8px 20px;
     /* margin-left:30px; */
     color: $colorw;
     text-decoration: none;
     text-align: center;
     white-space: nowrap;
     
     
     
 
   }
   #nav li a:hover {
     background-color: $gray;
   }
   #nav li ul.dropdown {
     min-width: 100%; /*Set width of the dropdown*/
     background-color:$color;
     display:none;
     position: absolute;
     z-index: 5;
     left: 0px;
     padding: 0px;
   }
   #nav li:hover ul.dropdown {
     display: block; /* Display the dropdown */
   }
   #nav li ul.dropdown li {
     display: block;
   }
     .hamburger{
     display: none;
   }
   .search{
     display: flex;
     flex-direction: row;
     justify-content: center;
    //  border: 1px solid black;
     width: 100%;
    //  margin-top: 10px;
     margin-bottom: 20px;
   }
   .fontSearch{
       width: 400px;
   }

  main{
    /* padding: 20px; */
    width: 100%;
    padding-top: 20px;

    //  border: 1px solid red ;  
  
  }
  .container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 100%;
  }
  .order {
    border: 1px solid gainsboro;
    padding: 10px;
    margin: 10px;
    /* width: 100%; */
  }

  select {
    margin-right: 5px;
  }
  .h1 {
    /* padding: 10px; */
    margin: 10px 0px;
  }

  .product {
    /* width: 100%; */
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    gap: 25px;
    margin: 5px;
  }
  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid gainsboro;
  }
  .filter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    /* border: 1px solid red; */
    padding: 10px;
    margin: 10px;
    /* margin-top: 10px; */
  }
  .brand {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
  }
  .price_checkbox {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
  }
  .type_wine {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
  }
  .card {
    width: 150px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
  }
  .img {
    position: relative;
    transition: all 0.5s ease-in;
    background-image: url("./img/intro.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60%;
  }
  .card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: 0.5s ease;
    background-color: #0a050a7b;
  }
  .img:hover .card__overlay {
    opacity: 1;
  }
  .overlay__text button  {
    width: 100%;
    margin-top: 50px;
    background-color: $color;
    color: $colorw;
    border: 1px solid $colorw;
    cursor: pointer;
  }
  .overlay__text a {
    color: $colorw;
    width: 100%;
    text-decoration: none;
    margin-top: 10px;
    background-color: $color;
    color: $colorw;
    border: 1px solid $colorw;
  }
  .overlay__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    background-color: $color;
    color:$colorw;
    padding: 10px;
  }

  section {
    /* background-color: rgb(87, 30, 26); */
    border-bottom: 1px solid gainsboro;
    padding: 2px;
  }
  .checkbox {
    display: flex;
    flex-direction: column;
  }

  footer {
   background-color: $color;
   color: $colorw;
    grid-area: footer;
    text-align: center;
    font-weight: bold;
    margin-top: 200px;
    /* margin:50px; */
   
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  
  }
     
  li {
    list-style-type: none;

  }
  a{
    text-decoration: none;
    color:$colorw;
  }
  footer a:hover{
    text-decoration: underline;
  }

  .icon_footer{
    display: inline-block;
    padding: 10px;


  }
  @media(max-width: 700px){
    .space{
      margin: 0px;
    }
    .header{
      flex-direction: column;
      justify-content: center;  
       gap: 20px;
       }
      .profil{
        justify-content: center;
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;;
      }
      .logo {
        width: 100%;
        margin: 0px;
        justify-content: center;
      }
    .footer{
    flex-direction: column;
    justify-items: center;
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    /* margin-bottom:20px; */
    
    }
    .list {
      text-align: center;
      padding: 10px;
    }
    .nav_bar{
        text-align: center;
  
      }
      #nav li a {
        display: none;
      }
      .hamburger{
        display: inline;
        // padding: 20px;
        margin: 10px;
      }           
      #nav{
        display: flex;
        flex-direction: flex-start;
        margin: 0; 
        padding: 0; 
      }
      .main {
        flex-direction: column;
      }
      .filter{
          flex-direction: row;
          width: 100%;
      }
    
  }


