@import "variabiles";
@import "navbar";
@import "header";
@import "footer";
@import "body";
@import "typography";
@import "productStyle";




  .space{
    
    padding-left: 150px;
    padding-right: 170px;
  }
  
   .search{
     display: flex;
     flex-direction: row;
     justify-content: center;
    //  border: 1px solid black;
     gap: 10px;
     width: 100%;
    //  margin-top: 10px;
     margin-bottom: 20px;
   }
   input[type="text"]{
     width: 50%;
     text-align: center;
     
   }

  main{
    /* padding: 20px; */
    width: 100%;
    padding-top: 20px;

    //  border: 1px solid red ;  
  
  }
  .container {
    display: flex;
    flex-direction: column;
    //  border: 1px solid black; 
    width: 100%;
  }
  .order {
    border-bottom: 1px solid $border;
    padding: 10px;
    margin: 10px;
    /* width: 100%; */
  }

  select {
    margin-right: 5px;
  }
  .h1 {
    /* padding: 10px; */
    margin: 10px 0px;
    
  }

  
  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    // border: 1px solid gainsboro;
  }
  .filter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    padding: 10px;
    margin: 10px;
    
  }
  .brand {
    display: none;
    gap: 10px;
    // border: 1px solid red;
    position: relative;
    transition: all 1s ease-in;
  }
  .price_checkbox {
   display: none;
    // border: 1px solid red;

    gap: 10px;
  }
  label{
    display: flex;
    flex-direction:row;
  }
  input[type=checkbox]{
    display: block;
  }
  
  .wine_variety {
    display: none;
    gap: 10px;
    // border: 1px solid red;
  
  }
  .wine_type{
   display: none;
    gap: 10px;
    // border: 1px solid red;
  }

  .fa-rotate {
    transition: all 0.5s ease;
    transform: rotateZ(180deg);
  }
 

  section {
    border-bottom: 1px solid $border;
    padding: 2px;
    cursor: pointer;
    display: flex;
  
    
    justify-content: space-between;
    align-items: center;
    
  }
  .checkbox {
    display: flex;
    flex-direction: column;
  }

     
  
  @media(max-width: 700px){
    .space{
      margin: 0px;
      padding: 0px;;
    }
    
    .wine_variety{
      width: 50%;
    }
    .wine_type{
      width: 50%;
      
      
    }
    .list {
      text-align: center;
      padding: 10px;
    }
    
      .main {
        flex-direction: column;
      }
      .filter{
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
          margin: 0px;;
      }
      section{
        width: 100%;
      }
    
  }